{% extends "@PgdeEmploi/Page/security.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

    {% for message in app.session.flashBag.get('cin') %}
        <div class="alert alert-danger"> {{ message }} </div>
    {% endfor %}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <p class="title">Créer votre compte <em style="font-size: 10px; color: red;">(Tous les champs sont
            obligatoires)</em></p>
    <div class="col-sm-6">
        <div class="form-group">
            {#{{ form_label(form.numberid) }}#}
            {{ form_row(form.numberid) }}
            <span id="matchIdCard" class="requis"></span>
        </div>
        {{ form_row(form.firstname) }}
        <span id="firstnamecheck" class="requis"></span>
        {{ form_row(form.lastname) }}
        <span id="lastnamecheck" class="requis"></span>
        {{ form_row(form.username) }}
        <span id="usernamecheck" class="requis"></span>
    </div>
    <div class="col-sm-6">
        {{ form_row(form.email) }}
        <div class="form-group">
            <label for="repeatemail"> Répéter votre email </label>
            <input type="email" class="form-control" name="repeatemail" id="repeatemail">
            <span id="matchemail" class="requis"></span>
        </div>
        {{ form_row(form.plainPassword) }}
        <span id="matchpasswd" class="requis"></span>
    </div>
    <button class="btn btn-custom-bleu btn-lg btn-block btn-auth" id="register_button">
        <i class="fa fa-check-circle"></i> {{ 'registration.submit'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock fos_user_content %}

{% block javascripts %}
    <script src="{{ asset('js/register.js') }}"></script>
    {% endblock %}