{% extends 'base.html.twig' %}
{% block security_content %}
    <div class="wrapper full-page-wrapper page-auth page-login text-center">
        <div class="container">
            {% include '@PgdeEmploi/partials/alert_message.html.twig' %}
        </div>
        {% set firstcol = 'col-sm-4' %}
        {% set secondcol = 'col-sm-8' %}
        {% set routename = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}
        {% if routename == '/register/' %}
            {% set firstcol = 'col-sm-5' %}
            {% set secondcol = 'col-sm-7' %}
        {% endif %}
        <div class="inner-page" style="padding-top: 0px">
            <div class="container">
                <div class="row">
                    <div class="{{ firstcol }}" style="padding: 2em;">
                        {% block link_inscription %} {% endblock %}
                        <div class="login-box center-block" style="border: 0px; margin: 0px; width: 100%">
                            {% block fos_user_content %} {% endblock %}
                            <div class="links">
                                {% if routename == '/register/' or routename == '/resetting/request' %}
                                    <p><a href="{{ path('fos_user_security_login') }}">
                                            Retour à la page de connexion</a></p>
                                {% endif %}
                                {% if routename == '/login' %}
                                    <p><a href="{{ path('fos_user_resetting_request') }}">
                                            J'ai oublié mon mot de passe</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="{{ secondcol }}" style="margin-top: 30px">
                        <!-- TEMPLATE PREVIEW - begin
                        ======================================================================== -->
                        <div class="wrapper">
                            <div class="container">

                                <!-- TITLE HEADING - begin -->
                                {#<div class="title-head">#}
                                {#<div class="title-head-inner">#}
                                {#<h1>CLASSIC 1 LAYOUT</h1>#}
                                {#</div>#}
                                {#</div>#}
                                <!-- TITLE HEADING - end -->


                                <!-- SLIDER PREVIEW - begin -->
                                <style>
                                    .slider-preview .rt01pag {
                                        position: absolute;
                                        bottom: 0;
                                    }

                                    .slider-shadow img {
                                        display: block;
                                        width: 100%;
                                        height: auto;
                                    }
                                </style>
                                <style>
                                    .slider-preview .rt01control {
                                        left: 10px;
                                        top: 10px;
                                        right: auto;
                                    }
                                </style>

                                <div class="slider-preview rt01 rt01timer-arcTop"
                                     data-tabs='{
                                {#"optionsPlus" : "slider",#}
                                "fx"          : "line",
                                "speed"       : 600,
                                "width"       : 940,

                                "isSlideshow" : false,
                                "slideshow"   : { "delay": 3000, "timer": "arc" },
                                "timerArc"    : { "stroke": "#cc0055" }
                            }'>
                                    {#<div class="slider-preview rt01"#}
                                    {#data-tabs='{#}
                                    {#"optionsPlus" : "slider",#}
                                    {#"fx"          : "line",#}
                                    {#"speed"       : 600,#}
                                    {#"width"       : 940,#}
                                    {#"pag"         : { "type": "bullet" },#}
                                    {#"isNav"       : true#}
                                    {#}'>#}

                                    <a class="rt01imgback" href="{{ asset('img/page2.svg') }}"></a>

                                </div>
                                <!-- SLIDER PREVIEW - end -->


                                <!-- SLIDER SHADOW -->
                                <div class="slider-shadow">
                                    <img src="{{ asset('img/shadow.png') }}" alt="Slider Shadow">
                                </div>

                            </div>
                        </div>
                        <!-- TEMPLATE PREVIEW - end
                        ======================================================================== -->
                    </div>
                </div>
                <div class="row">
                    <!-- FOOTER -->
                    {% include ('@PgdeEmploi/partials/footer.html.twig') %}
                    <!-- END FOOTER -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}