{% extends 'base.html.twig' %}
{% block security_content %}
    {% set routename = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
    {% set firstcol = 'col-sm-4' %}
    {% set secondcol = 'col-sm-8' %}
    {% set center = '' %}
    {% if routename != '/profile/change-password' %}
        {% set center = 'text-center' %}
    {% endif %}
    <div id="wrapper" class="wrapper page-auth page-login {{ center }}">
        {% if routename == '/profile/change-password' %}
            {% block topbar %}
                {% include '@PgdeEmploi/partials/topbar.html.twig' %}
            {% endblock %}

            {% block second_menu %}
                <div id="main-content-wrapper" class="content-wrapper expanded-full">
                    {% include '@PgdeEmploi/partials/secondmenu.html.twig' %}
                </div>
            {% endblock %}
        {% endif %}
        {% if routename != '/profile/change-password' %}
            <div class="container">
                {% include '@PgdeEmploi/partials/alert_message.html.twig' %}
            </div>
        {% endif %}
        {% if routename == '/register/' %}
            {% set firstcol = 'col-sm-5' %}
            {% set secondcol = 'col-sm-7' %}
        {% endif %}
        <div class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="{{ firstcol }}" style="">
                        {% block link_inscription %} {% endblock %}
                        <div class="login-box center-block" style="border: 0px; margin: 0px; width: 100%">
                            {% block fos_user_content %} {% endblock %}
                            <div class="links">
                                {% if routename == '/register/' or routename == '/resetting/request' %}
                                    <p><a href="{{ path('fos_user_security_login') }}">
                                            Retour à la page de connexion</a></p>
                                {% endif %}
                                {% if routename == '/login' %}
                                    <p><a href="{{ path('fos_user_resetting_request') }}">
                                            J'ai oublié mon mot de passe</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="{{ secondcol }}" style="">
                        <!-- TEMPLATE PREVIEW - begin
                        ======================================================================== -->
                        <div class="wrapper">
                            <div class="container" style="">

                                <!-- SLIDER PREVIEW - begin -->
                                <style>
                                    .slider-preview .rt01pag {
                                        position: absolute;
                                        bottom: 0;
                                    }

                                    .slider-shadow img {
                                        display: block;
                                        width: 100%;
                                        height: auto;
                                    }
                                </style>
                                <style>
                                    .slider-preview .rt01control {
                                        left: 10px;
                                        top: 10px;
                                        right: auto;
                                    }
                                </style>

                                <div class="slider-preview rt01 rt01timer-arcTop"
                                     data-tabs='{
                                        {#"optionsPlus" : "slider",#}
                                        "fx"          : "line",
                                        "speed"       : 600,
                                        "width"       : 824,

                                        "isSlideshow" : false,
                                        "slideshow"   : { "delay": 3000, "timer": "arc" },
                                        "timerArc"    : { "stroke": "#cc0055" }
                                    }'>
                                    {% set pagename = path(app.request.attributes.get('_route'),
                                    app.request.attributes.get('_route_params')) %}
                                    {% if pagename == '/login' %}
                                        <a class="rt01imgback" href="{{ asset('img/login.svg') }}"></a>
                                    {% else %}
                                        <a class="rt01imgback" href="{{ asset('img/page2.svg') }}"></a>
                                    {% endif %}
                                </div>
                                <!-- SLIDER PREVIEW - end -->


                                <!-- SLIDER SHADOW -->
                                {#<div class="slider-shadow">#}
                                {#<img src="{{ asset('img/shadow.png') }}" alt="Slider Shadow">#}
                                {#</div>#}

                            </div>
                        </div>
                        <!-- TEMPLATE PREVIEW - end
                        ======================================================================== -->
                    </div>
                </div>
                <div class="row">
                    <!-- FOOTER -->
                    {% include ('@PgdeEmploi/partials/footer.html.twig') %}
                    <!-- END FOOTER -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}