{% extends "@PgdeEmploi/Page/security.html.twig" %}
{% block link_inscription %}
    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-auth-facebook" style="width: 87%;">
        <span style="font-size: 18px">Créer un compte</span>
    </a>
    <div class="separator" style="width: 87%;"><span>Ou</span></div>
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}
    {% block fos_user_content %}

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <p>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                </p>
            {% endif %}
            <p class="title">Se connecter</p>
            <div class="form-group">
                <label for="username" class="control-label sr-only">
                    {{ 'security.login.username'|trans }}
                </label>
                <div class="col-sm-12">
                    <div class="input-group">
                        <input autocomplete="username" type="text"
                               placeholder="{{ 'security.login.username'|trans }}" id="username" class="form-control" name="_username"
                               required="required">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>
            </div>
            <label for="password" class="control-label sr-only">{{ 'security.login.password'|trans }}</label>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input autocomplete="current-password" type="password" placeholder="{{ 'security.login.password'|trans }}"
                               id="password" class="form-control" name="_password" required="required">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                </div>
            </div>
            <label class="fancy-checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                <span>{{ 'security.login.remember_me'|trans }}</span>
            </label>
            <button class="btn btn-custom-primary btn-lg btn-block btn-auth">
                <i class="fa fa-check-circle"></i> {{ 'security.login.submit'|trans }}
            </button>
        </form>
    {% endblock fos_user_content %}