<div class="top-bar navbar-default">
    <div class="container">
        <div class="clearfix">
            {#<a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>#}
            <!-- logo -->
            <div class="pull-left left">
                <a href="{{ path('fos_user_security_login') }}" style="color: #000; font-size: 1.3em; text-decoration: none;">
                    <img src="{{ asset('img/logogris.png') }}" height="40px" alt="PGDE logo"/> PGDE
                    {#<i class="fa fa-graduation-cap"></i> PGDE#}
                </a>
                <h1 class="sr-only">PGDE</h1>
            </div>
            <!-- end logo -->
            <div class="pull-right right">
                <!-- search box -->
                {#<div class="searchbox">#}
                    {#<div id="tour-searchbox" class="input-group">#}
                        {#<input type="search" class="form-control" placeholder="enter keyword here...">#}
                        {#<span class="input-group-btn">#}
									{#<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>#}
								{#</span>#}
                    {#</div>#}
                {#</div>#}
                <!-- end search box -->
                <!-- top-bar-right -->
                <div class="top-bar-right">
                    <!-- logged user and the menu -->
                    <div class="logged-user">
                        <div class="btn-group">
                            <a href="{{ path('userdata_index') }}#" class="btn btn-link dropdown-toggle"
                               data-toggle="dropdown">
                                <img src="{{ asset(urlavatar) }}" alt="User Avatar"/>
                                <span class="name" style="font-size: 1.3em">
                                    {{ app.user }}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('userdata_new') }}#">
                                        <i class="fa fa-user"></i>
                                        <span class="text">Espace candidat</span>
                                    </a>
                                </li>
                                {#<li>#}
                                    {#<a href="{{ path('userdata_index') }}#">#}
                                        {#<i class="fa fa-cog"></i>#}
                                        {#<span class="text">Settings</span>#}
                                    {#</a>#}
                                {#</li>#}
                                <li>
                                    <a href="{{ path('fos_user_change_password') }}#">
                                        <i class="fa fa-cog"></i>
                                        <span class="text">Changer mot de passe</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}#">
                                        <i class="fa fa-power-off"></i>
                                        <span class="text">Se déconnecter</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end logged user and the menu -->
                </div>
                <!-- end top-bar-right -->
            </div>
        </div>
    </div>
    <!-- /container -->
</div>