{% extends '@PgdeEmploi/Page/demande.html.twig' %}
{% block topbar %}
 {% include '@PgdeEmploi/partials/topbar.html.twig' %}
{% endblock %}
{% block body %}
    <h1>Soumission demande</h1>

    {% for flash_message in app.session.flashBag.get('CHANGE_PASSWORD_SUCCESS') %}
        <div id="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary" type="submit" value="Create"/>
    {{ form_errors(form) }}
    {{ form_end(form) }}
    <ul>
        {% for error in form.vars.errors.form.getErrors(true) %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>


{% endblock %}
